.nav-link:link {
    font-family: 'Red Hat Display', sans-serif;
    color: #731c12;
    font-size: 25px;
    font-weight: 800;
}

.nav-link:visited {
    color: #731c12;
}

.nav-link:hover {
    color: #bebfa3;
}

.logo {
    width: 150px;
}

.bg-custom {
    background-color: #eae8e7;
}

.footer {
    background-color: #bfcad1;
    font-family: 'Red Hat Display', sans-serif;
}

.bi {
    color: #731c12;
    font-size: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

h1 {
    font-weight: 900;
    color: #4e5b4b;
}

h2 {
    font-family:'Zilla Slab', serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}

h3 {
    font-family:'Zilla Slab', serif;
    font-weight: 800;
    color: #731c12;
}

h4 {
    font-size: 20px;
    font-weight: 800;
    color: #4e5b4b;
}

p {
    font-family:'Zilla Slab', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

h5 {
    font-family:'Zilla Slab', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.btn-custom {
    background-color: #4e5b4b;
    color:#fff;
}